body {
  margin: 0;
  padding: 0;
}

.self {
    margin: auto;
    display: block;
    width: 462px;
    height: 420px;
    margin-top: 8%;
} 

.about-text {
    width: 750px;
    margin: auto;
    margin-top: 4%;
    /* margin-bottom: 4%; */
    font-family: "Courier Prime", serif !important;
    font-weight: 400;
    line-height: 1.7;
    font-size: 18px;
    opacity: 0; /* Start with an invisible div */
    transition: opacity 1s ease-in-out; /* Smooth opacity transition */
}

.email {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.email:hover {
  text-decoration: underline;
}

.instagram-icon {
  height: auto;
  margin: auto;
  opacity: 0; /* Start with an invisible div */
  transition: opacity 1s ease-in-out; /* Smooth opacity transition */
  padding-bottom: 30px;
}

.instagram-icon img {
  display:block;
  margin:auto;
  transition-duration: .3s;
}

.instagram-icon img:hover {
  opacity: .3;
}
 
@keyframes bounceFadeIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    50% {
      opacity: 1;
      transform: translateY(-10px); /* Bounce up */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: bounceFadeIn 2s ease-in-out; /* Adjust the duration here */
  }

.underline {
  pointer-events: none;
  border-bottom: 2px solid #ADBA97;
}

@media (max-width: 768px) {
  .self {
    max-width: 80%;
    height: auto;
    margin-top: 2%;
  }

  .about-text {
    max-width: 90%;
    padding: 5% 0;
    margin-top: 2%; /* Adjust margin-top value */
  }

}