.page-container {
    margin: 40px;
}

/* Image Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensure 3 columns */
  gap: 30px; /* Increased gap to 20px */
}

.gallery-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-decoration: none !important; /* Remove underline from links */
  color: inherit; /* Inherit text color */
  transition: opacity 0.3s ease; /* Add transition for hover effect */
}

.gallery-item a {
  text-decoration: none !important; /* Remove underline from links */
  color: inherit !important; /* Inherit text color */
}

.gallery-item img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.gallery-item iframe {
  max-width: 100%;
  max-height: 100%;
}

.gallery-item:hover {
  opacity: 0.7; /* Change opacity on hover */
}

.caption {
  margin-top: -5px;
  font-size: 20px;
  align-self: flex-start; /* Align caption to the left */
  text-align: left;
  width: 100%; /* Ensure the caption takes the full width of the container */
}

/* Responsive Design */
@media (max-width: 1024px) {
  .gallery {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

@media (max-width: 600px) {
  .gallery {
      grid-template-columns: 1fr; /* 1 column for mobile devices */
  }
}

