.page-container {
  margin: 12% auto 5% auto;
  /* width: 95%; */
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
  max-width: 800px;      /* adjust to taste */
  margin: 0 auto;       /* centers the column */

}

.gallery-item {
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  /* padding: 10px; */
  position: relative;
  text-align: center;
  transition: transform .7s cubic-bezier(0.15, 0.9, 0.1, 1);
  padding: 0 1rem;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  max-width: 100%;
  max-height: 100%;
  transition: opacity .7s cubic-bezier(0.15, 0.9, 0.1, 1);
}

.gallery-item img:hover {
  opacity: .85;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  transition: opacity 0.2s ease-in-out; 
}

.gallery-item:hover .centered {
  opacity: 0; 
  
}

/* .title {
  font-size: 32px;
  margin-top: 3rem;
  margin-bottom: 6rem;
  text-align: center;
}  */

video {
  border-radius: 1rem !important;
}

