@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* Ensure the html and body take up the full height of the viewport */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Flex container for the entire page */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes up the full height of the viewport */
}

/* Main content should expand to fill available space */
.content {
  flex: 1;
}

/* Footer container to push footer to the bottom */
.footer-container {
  margin-top: auto;
}

/* Footer styling */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 8%;
  font-size: 16px;
  border-top: 2px solid black;
  flex-shrink: 0;
  font-family: "Work Sans", sans-serif;
}

.designed {
  text-decoration: none;
  font-style: italic;
  color: black;
}

.contact {
  display: flex;
}

.contact a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  transition-duration: .3s;
}

.contact a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px 0;
  }

  .contact {
    margin-top: 10px;
    justify-content: center;
  }

  .contact a {
    margin-right: 10px;
    font-size: 14px;
  }

  .designed {
    margin-top: 10px;
  }
}


