@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;            /* 40px */
  margin: 1rem 8% 0 8%;      /* 15px */
}

.title-container {
  font-size: 1.75rem;             /* 28px */
  display: flex;
  align-items: center;
}

.title-container div {
  display: flex;
  align-items: center;
  margin-right: 0.625rem;         /* 10px */
}

.icon {
  height: 2.5rem;                 /* 40px */
  width: auto;
}

.title-name {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.links {
  display: flex;
}

.links a {
  margin-right: 1.25rem;          /* 20px */
  text-decoration: none;
  color: black;
  font-size: 1.125rem;            /* 18px */
  display: inline-block;
  position: relative;
}

.hover:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1.45px; /* 1.45px */
  text-underline-offset: 5px;     /* 5px */
}

.underlined {
  text-decoration-line: underline !important;
  text-decoration-thickness: 1.45px !important;
  text-underline-offset: 5px !important;
}

@media (max-width: 48rem) {        /* 768px */
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: space-around !important;
  }

  .title {
    font-size: 1.5rem;             /* 24px */
    margin-bottom: 1.25rem;        /* 20px */
  }

  .links {
    flex-direction: row;
    justify-content: center;
    gap: 0.9375rem;                /* 15px */
    margin-top: 1.25rem;           /* 20px */
  }
}
