* {
  margin: 0;
  padding: 0;
}

.imgbox {
  /* height: 100%; */
  border: 5px solid red;
  width: auto;
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Allows horizontal scrolling if the image is wider than the viewport */
  padding: 30px 0;
}

.center-fit {
    /* display: block;
    margin: auto; */
  /* max-width: 100%;
  max-height: 100vh;*/
  max-width: 100%;
}

div {
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Allows horizontal scrolling if the image is wider than the viewport */
}

img {
  max-width: 100%; /* Ensures the image does not exceed the width of the viewport */
}
