.image-gallery-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
}

.image-gallery {
  text-align: center;
  position: relative;
  margin: 0 auto; /* Center the container horizontally */
}

.image {
  height: 78ch;
  width: auto; /* Adjust the max-width as needed */
  object-fit: contain;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.prev-button,
.next-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  /* top: 50%;
    transform: translateY(-50%); */
  z-index: 1;
  margin: 0 10%;
}

.prev-button {
  left: 0;
}

.prev-button img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.next-button {
  right: 0;
}

.next-button img {
  width: 30px;
  height: 30px;
  transform: scaleX(-1);
  opacity: 0.5;
}

.heading {
  text-align: center;
  font-size: 36px;
  padding-top: 4%;
  padding-bottom: 1%;
  line-height: 1.5;
}

.date {
  font-size: 18px;
}

.fade-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-scroll.faded {
  opacity: 1;
  transform: translateY(0);
  
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure items are centered vertically */
  padding: 10px;
  margin: 0 6% 2% 6%;

}
  
.left-link, .right-link {
  width: auto; /* Adjust as needed */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.left-link img {
  max-width: 20px;
  max-height: 20px;
  opacity: 0.8;
}


.right-link img {
  max-width: 20px;
  max-height: 20px;
  transform: scaleX(-1);
  opacity: 0.8;
}
  
.left-link a, .right-link a {
  display: block;
  /* padding: 10px; */
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
}

.left-link a {
  text-align: left;
}

.right-link a {
  text-align: right;
}

/* FOR MOBILE RESPONSIVENESS */

@media (max-width: 1230px) {
  .image-gallery-container {
    height: 900px;
  }

  .image {
    max-width: 750px;
    max-height: 900px; 
    object-fit: contain;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .image-gallery-container {
    height: 500px;
  }

  .image {
    max-width: 380px;
    max-height: 480px;
    object-fit: contain;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  .prev-button {
    left: -25;
    font-size: 32px;
  
  }
  
  .next-button {
    right: -25;
    font-size: 32px;
  }

  .heading {
    font-size: 20px;
  }

  .link-container {
    margin-top: 10px;
  }

  .date,
  .left-link a,
  .right-link a {
    font-size: 14px;
  }

  .left-link img,
  .right-link img {
    max-width: 10px;
    max-height: 10px;
  }
  
}

