
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  text-align: left;
  margin: 40px;
}

.photo img {
  display: block;
  width: 600px;
  margin-bottom: 10px;
}

.caption {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

.text_decor {
  text-decoration: none;
  color:black
}

#umg {
  cursor: pointer;
  transition: 0.3s;
}

#umg:hover {opacity: 0.7;}

footer {
  text-align: center;
  margin-bottom: 30px;
}

.icon {
  max-width: 40px;
  height: auto;
  opacity: 0.3;
  transition: 0.3s;
}

.icon:hover {
  opacity: 1.0;
}