img {
  max-width: 100%;
  max-height: 60%;
  margin-bottom: 2%;
}

.container {
  margin: 0 14%;
}

.subcontainer {
  margin-bottom: 6%;
}

.heading {
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 4px;
  font-size: 25px;
  margin-bottom: 10px;
}

.description {
  font-size: 25px;
}

ul.bullets {
  font-size: 20px;
  margin-top: 10px;
}

li {
  margin: 8px 0;
}

@media (max-width: 767px) {
  .container {
    margin: 0;
  }

  .subcontainer {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 6%;
  }
}

footer {
  text-align: center;
}

.icon {
  max-width: 40px;
  height: auto;
  opacity: 0.3;
  transition: 0.3s;
}

.icon:hover {
  opacity: 1.0;
}