body {
    position: relative;
    min-height: 100vh;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12%;
}

.video-title {
    font-weight: normal !important;
    font-size: 32px;
}

iframe {
    width: 640px;
    height: 360px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        gap: 30px;
    }

    iframe {
        width: 356px !important;
        height: 200px !important;
    }
}

@media (max-width: 1432px) {
    .video-container {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }

    iframe {
        width: 640px;
        height: 360px;
    }
}