body {
  background-color: #faf0e7;
}

.wrapper {
  margin: 0 14%;
  padding-top: 30px;
}

h2 {
  font-size: 36px;
}

.date {
  text-decoration: none;
  margin-top: -10px;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 18px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounceFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px); /* Bounce up */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: bounceFadeIn 2s ease-in-out; /* Adjust the duration here */
}

.website-screenshot {
  width: 100%;
  border-radius: 15px;
} 

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ADBA97;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* * {
  box-sizing: border-box;
} */

/* Container for flexboxes */
.row {
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
  opacity: 0; /* Start with an invisible div */
  transition: opacity 1s ease-in-out; /* Smooth opacity transition */
}

/* Create four equal columns */
.column {
  width: 25%;
  padding-left: 10px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

.column-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -5px;
  background: linear1-gradient(to top, #adba97 50%, transparent 50%);
}

.column ul {
  list-style: none;
  padding-left: 0;
  line-height: 150%;
  font-size: 18px;
}

/* .content {
  padding-bottom: 50px;
} */

.fade-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-scroll.faded {
  opacity: 1;
  transform: translateY(0);
}

.content-heading-container {
  margin-bottom: 15px;
}

.content-heading {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to top, #adba97 50%, transparent 50%); 
}

.content-text {
  line-height: 150%;
  font-size: 18px;
}

.content-text ul {
  margin-top: 0px;
  display: inline-block;
  list-style-position: outside;
  text-align: left;
  line-height: 150%;
  font-size: 18px;
}

.content-image {
  width: 100%;
  border-radius: 15px;
}

.wireframe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wireframe {
  flex: 0 1 calc(50% - 20px);
  margin-bottom: 20px;
}

.wireframe img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

figcaption {
  padding: 10px 0;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

.space-10px {
  height: 10px;
}

.space-50px {
  height: 50px;
}

