<!--

USE FIND AND REPLACE TO CHANGE (USE [])...
1. ALBUMNAME -> Album Name
2. DATE -> Date Photos were Taken
3. FOLDERNAME -> Folder Name of Photos
4. NUMPHOTOS -> Number of Photos in Album
5. LALBUMN -> Name of Album on Left
6. LALBUMP -> Page Name of Album on Left
7. RALBUMN -> Name of Album on Right
8. RALBUMP -> Page Name of Album on Right 
9. COPY FOLLOWING INTO CHATGPT AND CODE BELOW

<img class="image" src="../album photos/[FOLDERNAME]/[ALBUMNAME]-1.jpg" alt="[ALBUMNAME] 1"/>
Repeat this HTML with [NUMPHOTOS] images for [NUMPHOTOS] <img> lines total, updating the number count for both the file name and alt tag

-->

<link rel="stylesheet" href="../css/photogallery.css" />
<link rel="stylesheet" href="../css/header.css" />
<link rel="stylesheet" href="../css/footer.css" />

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>[ALBUMNAME]</title>
        <link rel="icon" type="image/x-icon" href="../images/favicon.png" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
          charset="UTF-8"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="../javascript/header-footer.js"></script>
        <style>
          @media (max-width: 768px) {
            #footer {
              display: none;
            }
          }
        </style>
      </head>

<body>

    <div id="header"></div>

    <div class="image-gallery-container">

        <button class="prev-button" onclick="showImage(-1)">
          <img src="../images/icons/arrow (with bg).png">
        </button>

        <div class="image-gallery">

 <!-- REPLACE WITH CHATGPT CODE HERE -->
        </div>

        <button class="next-button" onclick="showImage(1)">
          <img src="../images/icons/arrow (with bg).png">
        </button>

    </div>

    <div class="heading">[ALBUMNAME]<br>
      <span class="date">[DATE]</span>
    </div>

    <div class="link-container">
        <div class="left-link">
          <img src="../images/icons/arrow (no bg).png">
          <a href="./[LALBUMP]">[LALBUMN]</a> 
        </div>
        <div class="right-link">
          <a href="./[RALBUMP]">[RALBUMN]</a>
          <img src="../images/icons/arrow (no bg).png">
        </div>
    </div>

    <div id="footer"></div>

    <script src="../javascript/photogallery.js"></script>
</body>
</html>
