<link rel="stylesheet" href="../css/album.css" />
<link rel="stylesheet" href="../css/header.css" />

<html>
  <head>
    <title>Photography Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h1 class="title"> <!--INSERT TITLE HERE--> </h1>
      <div class="links">
        <a href="../" class="hover">Home</a>
        <a href="../portfolio.html" class="hover">Portfolio</a>
        <a href="../photography.html" class="header_border">Photography</a>
        <a href="../resume.html" class="hover">Resume</a>
        <a href="../contact.html" class="hover">Contact</a>
      </div>
    </header>
  </body>
</html>
